<% if @review.errors.any? %>
<%= render partial: '/error', locals: { record: @review } %>
<% end %>
<h1>Make your review:</h1>
<% binding.pry %>
<%= render partial: "form", locals: { game_review: @review } %>
